.Person {
    width: 60%;
    margin: auto;
    border: 1px solid #eee;
    box-shadow: 0 2px 3px #ccc;
    padding: 16px;
    text-align: center;
}

/* If the window size > 500px, fix width to 450px */
@media (min-width: 500px) {
  .Person {
      width: 450px;
  }
}